In [1]:
import datetime
import pandas as pd

In [2]:
%config Completer.use_jedi = False

In [3]:
df_date = datetime.datetime.today()

In [5]:
df_date

datetime.datetime(2020, 12, 25, 14, 1, 42, 448299)

In [6]:
df_tim = [df_date - datetime.timedelta(days = x) for x in range(20)]

In [7]:
df_t = pd.DataFrame(df_tim, columns=['time'])

In [8]:
df_t.time = pd.to_datetime(df_t.time )

In [9]:
df_t.time.dtype

dtype('<M8[ns]')

In [10]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    20 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 288.0 bytes

In [14]:
df_t.time.dt.strftime("%Y-%m-%d")

0     2020-12-25
1     2020-12-24
2     2020-12-23
3     2020-12-22
4     2020-12-21
5     2020-12-20
6     2020-12-19
7     2020-12-18
8     2020-12-17
9     2020-12-16
10    2020-12-15
11    2020-12-14
12    2020-12-13
13    2020-12-12
14    2020-12-11
15    2020-12-10
16    2020-12-09
17    2020-12-08
18    2020-12-07
19    2020-12-06
Name: time, dtype: object

In [26]:
df_t.time.dt.is_leap_year

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: time, dtype: bool

In [ ]:
import pandas as pd
import datetime as dt

pd.to_datetime(df_t.time )

In [28]:
import numpy as np

In [29]:
df = pd.DataFrame({'Age': np.random.randint(0, 80, 100)}) 
df['Age_range'] = pd.cut(x=df['Age'], bins=[1, 20, 40, 60, 80], 
                    labels=['Kid', 'Adult', 'Mature', 
                            'Old'])

In [32]:
print(df.head())

   Age Age_range
0    6       Kid
1   79       Old
2   60    Mature
3   49    Mature
4   70       Old